html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
img {
    display: block;
}

body {
    background-color: #321b1b;
}


/* Header */

header {
    height: 10vh;
    width: auto;
}

.background {
    background-image: url(../imgs/backgrounds/background_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
} 

/* Barra de navegacion */

nav {
    background-color: #a54949;

    height: 4rem;
    width: auto;

    display: flex;
    justify-content: right;
    align-items: center;

    -webkit-box-shadow: 0px 21px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 21px 36px 0px rgba(0,0,0,0.75);
}
ul {
    margin: 0 2rem;
    display: flex;
}
.item_nav {
    margin: 0 2rem;

    color: white;

    font-family: "Jersey 20", sans-serif; 

    font-size: 1.2em;
}

@media screen and (max-width: 720px) {
    .item_nav {
        margin: 0 .4rem;
    
        color: white;
    
        font-family: "Jersey 20", sans-serif; 
    
        font-size: .9rem;
    }
}

/* Barra de navegacion */

/* Eventos */  

